.App-footer {
    background-color: #dceebe;
    min-height: 24vh;
    padding-top: 24px;
    color: black;
}

.Footer-logo {
    width: 70px;
    pointer-events: none;
}

.Footer-identitas {
    text-align: left;
}

.Footer-nama {
    font-size: 22px;
    font-weight: 700;
    color: #76a138;
}

.Footer-slogan {
    font-size: 12px;
}

.Footer-kontak {
    text-align: left;
}

.Footer-section-title {
    font-size: 18px;
    font-weight: 600;
    color: #76a138;
}

.Footer-section-item {
    font-size: 12px;
    padding: 2px 0px;
}