.App-header {
    background-color: white;
    min-height: 12vh;
    font-size: calc(5px + 2vmin);
    color: black;
}

.App-logo {
    height: 5vmin;
    pointer-events: none;
}

.link-container{
    text-decoration: none;
    color: black;
    margin-left: 1vw;
    padding: 2px 8px 2px 8px;
    border-radius: 25px;
    transition: all 0.5s ease 0s;
}

.link-container:hover{
    background-color: #b8dc7c;
    color : white;
    text-decoration: none;
}

.active-nav{
    width: 12px;
    height: 12px;
    background-color: #76a138;
    border-radius: 50%;
    display: inline-block;
    margin-left: 4px;
}