.Lapor-transaksi-header {
    padding: 24px 0px;
}

.Lapor-transaksi-header-icon {
    width: 70px;
    margin: 10px;
}

.Lapor-transaksi-header-title {
    color: #76a138;
    font-size: 36px;
}

.Lapor-transaksi-body {
    width: 500px;
    margin: 0px auto 36px auto;
}

.Lapor-transaksi-body-title {
    background-color: #76a138;
    color: white;
    font-size: 20px;
}

.Lapor-transaksi-body-form {
    padding: 16px 0px;
    text-align: left;
}

.Lapor-transaksi-input {
    display: flex;
}

.Lapor-transaksi-input-label {
    width: 40%;
    margin-top: 15px;
    font-weight: 700;
}

.Lapor-transaksi-input-field {
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #76a138;
    background-color: #b8dc7c;
    padding: 6px 15px;
    margin: 8px 0px;
    width: 100%;
}

.Lapor-transaksi-form-submit {
    background-color: #76a138;
    color: white;
    border-radius: 20px;
    padding: 5px 40px;
    margin: 20px 0px;
    font-size: 16px;
    border: none;
}

#input-dropdown{
    transition: all 0.5s ease 0s;
}

